@import "tailwindcss";
@plugin "../abstract/lib/pxToVwPlugin.js";

@theme {
	--font-bounded: "Bounded", "sans-serif";
	--font-onest: "Onest", "sans-serif";
}
@font-face {
	font-family: "Bounded";
	src: url("/fonts/bounded/Bounded-Variable.ttf");
}
@font-face {
	font-family: "Onest";
	src: url("/fonts/onest/Onest-VariableFont_wght.ttf");
}
.title {
	font-size: calc(48px * var(--scale-factor));
}
